@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0f172a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #64748b;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0369a1;
}

body {
    cursor: none;
}